<!DOCTYPE html>

<!-- Header -->
<header class="bg-paleCyan body bg-[url('/assets/images/bg-hero-mobile.svg')] pb-10">
  <section class="flex justify-between p-5">
    <img class="w-28" src="/assets/images/logo.svg" alt="logo">
    <a class="" href="#"> Try It Free </a>
  </section>
  <section class="flex flex-col gap-8 mt-20 text-center">
    <h1 class="text-3xl heading">Build The Community Your Fans Will Love</h1>
    <p class="w-10/12 px-1 mx-auto text-base">Huddle re-imagines the way we build communities. You have a voice, but so
      does
      your audience. Create connections with your users as you angage in genuine discussion.</p>
    <a href="#" class="block py-2 mx-auto text-sm font-bold text-white rounded-full bg-pink w-fit px-14">Get Started
      For Free</a>
  </section>
  <img class="px-5 mt-10" src="/assets/images/illustration-mockups.svg" alt="mockups">
</header>
<!-- Header -->

<!-- Main -->
<main class="flex flex-col gap-10 mt-14">
  <app-card imagePath="/assets/images/illustration-grow-together.svg" title="Grow Together"
    content="Generate meaningful discussions with your audience and build astrong, loyal community. Think of the insightful conversations you miss out on with a feedback form."></app-card>

  <app-card imagePath="/assets/images/illustration-flowing-conversation.svg" title="Flowing Conversations"
    content="Your wouldn't paginate a conversation in real life, so why do it online? Our threads have just-in-time loading for a more natural flow"></app-card>

  <app-card imagePath="/assets/images/illustration-your-users.svg" title="Your Users"
    content="It takes no time at all to integrate Huddle with your app's authentication solution. This means, once signed in to your app, your users can start chatting immediately"></app-card>
</main>
<!-- Main -->

<!-- Footer -->
<footer class="pb-10 mt-32 text-white bg-darkCyan">
  <article class="flex flex-col gap-8 px-2 pt-32 text-base md:grid md:grid-cols-3">
    <section class="flex flex-col gap-8">

      <img class="w-40 invert" src="/assets/images/logo.svg" alt="logo">

      <article class="flex gap-7">
        <div class="w-10 h-10"><img src="/assets/images/icon-location.svg" alt="location"></div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua</p>
      </article>

      <article class="flex">
        <div class="w-10 h-10"><img src="/assets/images/icon-phone.svg" alt="phone"></div>
        <p>+1-543-123-4567</p>
      </article>

      <article class="flex">
        <div class="w-10 h-10"><img src="/assets/images/icon-email.svg" alt="email"></div>
        <p>example@fylo.com</p>
      </article>

    </section>

    <ul class="flex flex-col gap-3 text-lg">
      <li><a href="#">About Us</a></li>
      <li><a href="#">What we Do</a></li>
      <li><a href="#">FAQ</a></li>
      <li><a href="#">Carrer</a></li>
      <li><a href="#">Blog</a></li>
      <li><a href="#">Contact Us</a></li>
    </ul>

    <section class="flex justify-center gap-3">
      <div class="flex items-center justify-center w-10 h-10 border rounded-full"><i class="fa fa-facebook"></i>
      </div>
      <div class="flex items-center justify-center w-10 h-10 border rounded-full"><i class="fa fa-twitter"></i></div>
      <div class="flex items-center justify-center w-10 h-10 border rounded-full"><i class="fa fa-instagram"></i></div>
    </section>

  </article>
  <p class="mt-5 text-sm text-center">&copy; Copyright 2018 Huddle. All rights reserved.</p>
</footer>
<!-- Footer -->